{% extends 'basic.html' %}

{% block title%} Create Post {% endblock %}

{% block body%}
<br/>
<h1 style="margin-left:20%;"> Your  Post 

  <button type="button" class="btn btn-primary" name="createpost" id="createpost" style="margin-left:40%;" >Create Post
  </button>
</h1>

<br/><br/>

<center>

  <form action=" " method=POST>
  {% csrf_token %} 
  <p>
    <textarea name="text" placeholder="Enter text"  id="text" class="form-control " >
    </textarea>
  </p>
    
  <input type="submit" class="btn btn-primary" value="Create Post" / >

  </form>
</center>



{% endblock %}
